---
---

<section>
  <p>exhibited at</p>
  <p>Carrer de Lluçà, 25 Barcelona</p>
  <p>
    <time datetime="2024-10-26T18:00:00Z">18:00 OCTOBER 26TH, 2024</time>
  </p>
</section>

<style>
  section {
    text-align: center;
    margin: 2rem 0;
  }

  p {
    margin: 0;
  }

  p:not(:first-child) {
    text-transform: uppercase;
  }
</style>
