---
---

<figure class="floorplan">
  <svg class="room-shape" viewBox="0 0 200 100">
    <style>
      .work {
        font-family: SuisseIntl;
        font-size: 6px;
        fill: white;
      }
    </style>
    <path d="M 0,40 L 0,0 L 200,0 L 200,100 L 0,100 L 0,60" fill="none" stroke="currentColor"></path>
    <a href="#1">
      <text x="50" y="10" class="work">1</text>
    </a>
    <a href="#2">
      <text x="192" y="60" class="work">2</text>
    </a>
    <a href="#3">
      <text x="150" y="95" class="work">3</text>
    </a>
    <a href="#4">
      <text x="90" y="95" class="work">4</text>
    </a>
  </svg>
</figure>

<style>
  .floorplan {
    margin: 0;
    padding: 0;
  }

  .room-shape {
    width: 100%;
  }
</style>
