---
import Image from 'astro/components/Image.astro'
import CMELogos from '../assets/img/cme-logos.png'
import DDSLogo from '../assets/img/dds.webp'
---

<footer>
  <a class="supporter-logo" href="https://www.domesticstreamers.com/" target="_blank">
    <Image src={DDSLogo} alt="Logo of Domestic Streamers" />
  </a>
	<Image class="supporter-logo" src={CMELogos} alt="Logos of the European Union and the Goethe Institute" />
</footer>

<style>
  footer {
    text-align: center;
    margin: auto 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  a, a:visited {
    color: inherit;
  }

  img {
    height: 2rem;
    width: auto;
    object-fit: contain;
    filter: invert(100%);
  }

  @media screen and (min-width: 1024px) {
    img {
      height: 3rem;
    }
  }

  .supporter-logo {
    display: block;
    flex-shrink: 1;
  }
</style>
