---
---

<header>
  <h1>HeyHuman 2024 residency</h1>
  <p>Léa Cadieux &mdash; Bérénice Courtin &mdash; Jakub Fiala &mdash; Augustina Lavickaitė</p>
</header>

<style>
  header {
    text-align: center;
  }
</style>
