---
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>HeyHuman 2024 residency</title>
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />
</head>

<style is:global>
  html {
    background: #ededed;
    color: #030303;
    font-size: 16px;
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  }

  html, body {
    margin: 0;
    padding: 0;
  }

  body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
  }

  main {
    margin: 2rem 0;
  }

  h1, h2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.025em;
  }
</style>
