---
---

<section class="list">
  <ul>
    <li>
      <div class="number"></div>
      <details class="content">
        <summary>
          <h3>Ipsum adipisicing cillum aliquip dolor.</h3>
          Magna culpa proident occaecat labore id exercitation nostrud nostrud. Quis magna Lorem irure ipsum adipisicing amet voluptate quis tempor nulla ipsum ex. Sunt ad ipsum mollit tempor cupidatat aliquip ullamco ex ad. Eiusmod veniam proident veniam aute voluptate irure elit qui dolor nulla. Cillum velit ad sit dolore reprehenderit velit occaecat consequat deserunt. Voluptate tempor dolore cillum adipisicing laboris reprehenderit laborum culpa elit officia.
        </summary>
        <div class="expanded">
          Reprehenderit tempor sint adipisicing pariatur amet cillum nulla tempor irure laborum nisi. Quis ipsum pariatur Lorem quis esse do veniam non. Est irure laboris id sint et deserunt cupidatat elit adipisicing ex velit exercitation. Nulla aliqua Lorem ex culpa in reprehenderit do laborum sit consectetur fugiat ut esse. Proident id occaecat minim sunt aliquip est et pariatur officia officia mollit.
        </div>
      </div>
    </li>
    <li>
      <div class="number"></div>
      <details class="content">
        <summary>
          <h3>Anim cillum non ipsum cillum nisi amet ullamco culpa nisi.</h3>
          Cillum nostrud exercitation est exercitation aliqua do ullamco consectetur nostrud laboris cupidatat amet. Pariatur reprehenderit ad pariatur aute cillum magna cupidatat exercitation id incididunt commodo ea magna nostrud. Voluptate adipisicing dolor pariatur ad duis occaecat irure dolor et sit. Occaecat labore ex officia reprehenderit tempor sit minim id mollit nulla anim. Id cupidatat elit reprehenderit esse ipsum.
        </summary>
        <div class="expanded">
          Amet in magna consequat minim eu consequat et mollit adipisicing id ut. Fugiat irure veniam laboris anim aliquip labore reprehenderit anim nostrud laborum magna eiusmod in. Tempor anim tempor ut amet non pariatur laborum proident consectetur sunt ipsum consequat pariatur ipsum. Voluptate incididunt non incididunt sunt anim qui eu aute nulla aute officia.
        </div>
      </div>
    </li>
    <li>
      <div class="number"></div>
      <details class="content">
        <summary>
          <h3>Ullamco adipisicing eiusmod amet quis ea excepteur culpa.</h3>
          Quis do minim commodo excepteur culpa irure labore. Proident aute qui qui elit eu sunt irure occaecat labore duis. Velit ullamco culpa ex irure anim reprehenderit sint ad reprehenderit ea irure. Dolore eu et elit officia sit veniam occaecat fugiat. Consequat commodo magna ut ut in. Deserunt velit tempor deserunt proident cillum tempor aliqua eiusmod ullamco occaecat do voluptate. Ullamco ea deserunt tempor labore nulla incididunt aliqua consectetur consectetur occaecat.
        </summary>
        <div class="expanded">
          Dolore velit minim culpa fugiat duis sint Lorem do pariatur aute. Sint irure velit irure culpa ad laborum. Cillum deserunt sit ullamco veniam. Ad magna exercitation voluptate reprehenderit dolor aliqua commodo cupidatat aliquip. Duis laborum magna pariatur ullamco et officia aute enim irure id reprehenderit. Excepteur sunt pariatur cupidatat tempor reprehenderit elit ullamco culpa labore cupidatat.
        </div>
      </div>
    </li>
    <li>
      <div class="number"></div>
      <details class="content">
        <summary>
          <h3>Lorem labore proident non adipisicing dolor sunt dolor adipisicing ad sunt aliquip nisi.</h3>
          Nulla nisi incididunt nisi ullamco cupidatat ex pariatur commodo voluptate. Reprehenderit excepteur qui duis eu elit eu pariatur. Non deserunt elit irure culpa non ut reprehenderit aliqua enim excepteur.
        </summary>
        <div class="expanded">
          Laboris anim adipisicing ad Lorem laborum do nisi aute deserunt elit dolore aute aute. Aute magna laborum in duis enim in velit Lorem voluptate tempor mollit ullamco. Occaecat amet consectetur minim quis non excepteur nostrud incididunt est sit proident cillum velit. Consectetur irure excepteur cillum minim nostrud anim. Irure labore velit elit sit in qui. Est consectetur culpa magna exercitation voluptate. Nulla excepteur qui occaecat laboris ullamco ipsum voluptate duis occaecat pariatur ad exercitation culpa.
        </div>
      </details>
    </li>
  </ul>
</section>

<style>
  section {
    margin: 1rem 0 4rem;
    line-height: 1.4;
  }

  ul {
    counter-reset: index;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  @media screen and (min-width: 1024px) {
    ul {
      padding: 1rem;
    }
  }

  li {
    display: flex;
    margin-bottom: 2rem;
    border-top: solid 1px currentColor;
    padding-top: 1rem;
  }

  .number {
    margin-right: 2rem;
  }

  .number::before {
    counter-increment: index;
    content: counters(index, '.', decimal);
  }

  summary {
    cursor: pointer;
    list-style: none;
    margin: 0;
    text-wrap: pretty;
  }

  summary::after {
    content: 'Read more ↗';
    color: var(--green);
    float: right;
    margin-left: 1rem;
  }

  details[open] summary::after {
    content: 'Close ↵';
  }

  summary:hover::after {
    color: var(--dark-green);
  }

  @keyframes roll-out {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 200vh;
      opacity: 1;
    }
  }

  details[open] .expanded {
    animation: roll-out 1s both;
  }

  .expanded {
    clear: both;
    margin-top: 4rem;
    overflow: hidden;
    will-change: max-height;
  }

  h3 {
    font-weight: normal;
    margin: 0 0 0.5rem;
    line-height: 1;
  }

  p {
    margin-top: 0.5em;
  }
</style>
