---
---

<section class="list">
  <ol>
    <li>
      <h3>Ipsum adipisicing cillum aliquip dolor.</h3>
      <p>Magna culpa proident occaecat labore id exercitation nostrud nostrud. Quis magna Lorem irure ipsum adipisicing amet voluptate quis tempor nulla ipsum ex. Sunt ad ipsum mollit tempor cupidatat aliquip ullamco ex ad. Eiusmod veniam proident veniam aute voluptate irure elit qui dolor nulla. Cillum velit ad sit dolore reprehenderit velit occaecat consequat deserunt. Voluptate tempor dolore cillum adipisicing laboris reprehenderit laborum culpa elit officia.</p>
    </li>
    <li>
      <h3>Anim cillum non ipsum cillum nisi amet ullamco culpa nisi.</h3>
      <p>Cillum nostrud exercitation est exercitation aliqua do ullamco consectetur nostrud laboris cupidatat amet. Pariatur reprehenderit ad pariatur aute cillum magna cupidatat exercitation id incididunt commodo ea magna nostrud. Voluptate adipisicing dolor pariatur ad duis occaecat irure dolor et sit. Occaecat labore ex officia reprehenderit tempor sit minim id mollit nulla anim. Id cupidatat elit reprehenderit esse ipsum.</p>
    </li>
    <li>
      <h3>Ullamco adipisicing eiusmod amet quis ea excepteur culpa.</h3>
      <p>Quis do minim commodo excepteur culpa irure labore. Proident aute qui qui elit eu sunt irure occaecat labore duis. Velit ullamco culpa ex irure anim reprehenderit sint ad reprehenderit ea irure. Dolore eu et elit officia sit veniam occaecat fugiat. Consequat commodo magna ut ut in. Deserunt velit tempor deserunt proident cillum tempor aliqua eiusmod ullamco occaecat do voluptate. Ullamco ea deserunt tempor labore nulla incididunt aliqua consectetur consectetur occaecat.</p>
    </li>
    <li>
      <h3>Lorem labore proident non adipisicing dolor sunt dolor adipisicing ad sunt aliquip nisi.</h3>
      <p>Nulla nisi incididunt nisi ullamco cupidatat ex pariatur commodo voluptate. Reprehenderit excepteur qui duis eu elit eu pariatur. Non deserunt elit irure culpa non ut reprehenderit aliqua enim excepteur.</p>
    </li>
    <li>
      <h3>Amet et culpa consequat voluptate esse nulla.</h3>
      <p>Nisi ullamco ullamco laborum labore velit. Cillum anim Lorem labore ad magna magna laboris voluptate ut fugiat. Anim sunt eu proident amet magna est aute enim. Qui incididunt esse sunt exercitation laboris occaecat. Officia ullamco sunt ullamco consequat. Dolor magna veniam veniam et exercitation commodo eiusmod dolore Lorem irure non magna commodo. Amet elit aute excepteur consectetur laborum et incididunt cupidatat elit consectetur aliquip proident sunt aute.</p>
    </li>
    <li>
      <h3>Pariatur ipsum incididunt nulla laboris quis eu amet qui.</h3>
      <p>Minim eu proident qui cillum. Do fugiat magna aliquip amet tempor veniam mollit esse fugiat dolore. Adipisicing officia in dolor veniam consectetur aliqua magna. Cillum dolor deserunt cupidatat culpa duis consequat adipisicing reprehenderit magna sunt reprehenderit consequat. Minim sunt tempor ad ipsum pariatur do ipsum adipisicing ipsum aute esse culpa. Minim reprehenderit occaecat ad reprehenderit. Sint tempor esse aliquip reprehenderit quis laborum nostrud aliqua occaecat reprehenderit.</p>
    </li>
    <li>
      <h3>Qui ut non in esse qui adipisicing irure aliquip nostrud mollit tempor nisi.</h3>
      <p>Officia ad officia non ut exercitation. Ipsum esse tempor reprehenderit veniam eu amet occaecat. Nisi cupidatat incididunt elit do adipisicing consectetur officia ipsum.</p>
    </li>
  </ol>
</section>

<style>
  section {
    margin: 1rem 0 4rem;
    line-height: 1.4;
  }

  ol {
    margin: 0;
    padding: 1rem;
  }

  @media screen and (min-width: 1024px) {
    ol {
      columns: 2;
      column-gap: 4rem;
      orphans: 3;
    }
  }

  li {
    margin-bottom: 2rem;
  }

  h3 {
    font-style: italic;
    font-weight: normal;
    margin: 0;
    text-wrap: pretty;
  }

  p {
    margin-top: 0.5em;
  }
</style>
