---
import PasoSuperior from '../assets/img/paso-superior.jpg';
---

<section class="list">
  <p class="statement">
    Nisi et eu minim exercitation et elit nisi ut anim. Veniam ad incididunt occaecat labore amet fugiat Lorem. Non reprehenderit nostrud labore cillum veniam non nisi id aute.
    Commodo labore incididunt dolore in aute do magna id nisi cupidatat cupidatat. Magna do ex amet ullamco id sit consectetur reprehenderit. Nostrud amet commodo non id nisi anim id. Nulla ad deserunt reprehenderit qui in cupidatat do. Aliqua laboris ad id et sunt labore ullamco labore amet officia aute ipsum quis eiusmod.
  </p>
  <ul>
    <li>
      <div class="number"></div>
      <details class="content" id="1">
        <summary>
          <h3>The Meme (L) Language Study Group</h3>
          Meme as a relational tool<br>
          Léa Cadieux
        </summary>
        <div class="expanded">
          <div class="text">
            <div class="description">
              <p>We could say I’m a hyper connected person</p>
              <p>
                I spend in average 10 hours a day online;<br>
                My phone keeps me company<br>
                it helps me check up on messages I receive from loved ones;<br>
                I answer using emojis or short sentences, <br>
                but mostly adding a cascade of memes to the endless conversations
              </p>
              <p>
                This could be the side effect of moving places,<br>
                globalisation of communication tools,<br>
                loneliness,<br>
                or longing for togetherness.
              </p>
              <p>
                Regardless,<br>
                away from keyboard<br>
                I mostly exist in memories,<br>
                and online,<br>
                this memory is kept alive, and given many embodiements
              </p>
              <p>
                The memes I send are a language form through which my relationships stay ignited<br>
                Meme are a way to get to know me;<br>
                what I like, what I don’t, how I would react to things<br>
                In other cases they say<br>
                «I miss you»<br>
                «I’m thinking about you»<br>
                «do you remember that time we (...)»<br>
                « this and it made me think of you»<br>
                «I wanted to take some news»<br>
                «how are you?».
              </p>
              <p>Over the years,</p>
              <p>as a show of love,</p>
              <p>
                even the most tech resistant of my loved ones began to converse in memes.<br>
                And when I went (meme) silent for too long,<br>
                I would receive concerned messages from loved ones asking me if something was wrong
              </p>
              <p>
                Memes are not just a side note in daily conversations,<br>
                but a real love language<br>
                through which relational data is constantly being exchanged<br>
                and bonds solidified through re-contextualisation
              </p>
            </div>
            <ul class="links">
              <li>
                <a href="https://memelovelanguage.hotglue.me/?start">Project</a>
              </li>
              <li>
                <a href="https://www.instagram.com/l_eacadieux/">Instagram</a>
              </li>
              <li>
                <a href="https://whywhynot.space/">Website</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="number"></div>
      <details class="content" id="2">
        <summary>
          <h3>Dunes, reconstructed (a study)</h3>
          Landscapes as storytelling tools<br>
          Augustina Lavickaitė
        </summary>
        <div class="expanded">
          <div class="text">
            <div class="description">
              <p>A strip of sandy terrain, at times only 400 meters wide, separates the Baltic Sea from the Curonian Lagoon. This sand houses myths, legends, and songs of longing and belonging within a desolate landscape—from towns buried under the dunes to meticulously planted forests designed to anchor the shifting sands.</p>
              <p>The project deconstructs the Lithuanian seaside through its mediated forms and reassembles it from scratch—no rock or sand remains, only a shell, shaped by human intervention, perception, and mediation. Is a landscape defined by its physical form, or by the songs written about it, the myths told to explain it, and the maps drawn to claim it? Peeling back layers of symbolic intervention, we uncover not just a place, but a testament to the ways we shape and are shaped by the terrain.</p>
            </div>
            <ul class="links">
              <li>
                <a href="https://aaugustinaa.cargo.site/">Project</a>
              </li>
              <li>
                <a href="https://www.instagram.com/aaaugusteee">Instagram</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/augustina-lavickaite/">Linkedin</a>
              </li>
              <li>
                <a href="mailto:augustelux@gmail.com">E-mail</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="number"></div>
      <details class="content" id="3">
        <summary>
          <h3>Finding Gustavo</h3>
          Street View as a narrative engine<br>
          Jakub Fiala
        </summary>
        <div class="expanded">
          <div class="text">
            <div class="description">
              <p><em>Finding Gustavo</em> is a web-based quest taking place in Google Street View. Somewhere in the still, psychedelic desert of northern Chile, the player sets off on a search for the unseen narrator's missing friend, discovering local sites of folk spirituality, the region's connections to space exploration and the effects of its destructive mining industry. With hand-crafted soundscapes, an original sound-track and an interactive world, the game turns Street View into an immersive storytelling engine.</p>
              <img src={PasoSuperior.src} alt="a satellite image of an overpass with geoglyphs within the slip lane circles">
            </div>
            <ul class="links">
              <li>
                <a href="https://finding-gustavo.quest">Project</a>
              </li>
              <li>
                <a href="https://fiala.space">Portfolio</a>
              </li>
              <li>
                <a href="mailto:studio@fiala.space">E-mail</a>
              </li>
            </ul>
          </div>
        </div>
      </details>
    </li>
    <li>
      <div class="number"></div>
      <details class="content" id="4">
        <summary>
          <h3>Materialized Digital Weaving Craft</h3>
          Material and Format<br>
          Bérénice Gaça Courtin
        </summary>
        <div class="expanded">
          Laboris anim adipisicing ad Lorem laborum do nisi aute deserunt elit dolore aute aute. Aute magna laborum in duis enim in velit Lorem voluptate tempor mollit ullamco. Occaecat amet consectetur minim quis non excepteur nostrud incididunt est sit proident cillum velit. Consectetur irure excepteur cillum minim nostrud anim. Irure labore velit elit sit in qui. Est consectetur culpa magna exercitation voluptate. Nulla excepteur qui occaecat laboris ullamco ipsum voluptate duis occaecat pariatur ad exercitation culpa.
        </div>
      </details>
    </li>
  </ul>
</section>

<script>
const openDetailsByHash = () => {
  const hash = location.hash.slice(1);
  const element = document.getElementById(hash);

  if (element instanceof HTMLDetailsElement) {
    element.open = true;
    element.scrollIntoView({ behavior: 'smooth', block: 'center', inline: 'start' });
  }
};

openDetailsByHash();

window.addEventListener('hashchange', openDetailsByHash);
</script>

<style>
  section {
    margin: 1rem 0 4rem;
    line-height: 1.4;
  }

  .statement {
    margin-bottom: 2rem;
  }

  ul {
    counter-reset: index;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  @media screen and (min-width: 1024px) {
    ul {
      padding: 1rem 0;
    }
  }

  section > ul > li {
    display: flex;
    margin-bottom: 2rem;
    border-top: solid 1px currentColor;
    padding-top: 1rem;
  }

  .number {
    margin-right: 2rem;
  }

  .number::before {
    counter-increment: index;
    content: counters(index, '.', decimal);
  }

  @media screen and (min-width: 1024px) {
    .number {
      margin-right: 4rem;
    }
  }

  summary {
    cursor: pointer;
    list-style: none;
    margin: 0;
    text-wrap: pretty;
  }

  summary::after {
    content: 'Read more ↗';
    color: var(--green);
    float: right;
    margin-left: 1rem;
  }

  details {
    flex-grow: 1;
  }

  details[open] summary::after {
    content: 'Close ↵';
  }

  summary:hover::after {
    color: var(--dark-green);
  }

  details summary::-webkit-details-marker {
    display: none;
  }

  li:has(details.highlighted) .number,
  li:has(details.highlighted) h3,
  li:hover .number,
  li:hover h3 {
    color: var(--green);
  }

  @keyframes roll-out {
    from {
      max-height: 0;
      opacity: 0;
    }

    to {
      max-height: 200vh;
      opacity: 1;
    }
  }

  .expanded {
    animation: none;
    clear: both;
    margin-top: 2rem;
    overflow: hidden;
    will-change: max-height;
    max-height: 0;
  }

  details[open] .expanded {
    animation: roll-out 1s forwards;
  }

  h3 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 0.25rem;
    line-height: 1;
  }

  details p {
    hyphens: auto;
  }

  p {
    margin-top: 0.5em;
  }

  @media screen and (min-width: 1024px) {
    .text {
      display: grid;
      grid-template-columns: 5fr 1fr;
      gap: 3rem;
    }
  }

  .description {
    position: relative;
  }

  img {
    max-width: 100%;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .links a,
  .links a:visited {
    text-decoration: none;
    color: inherit
  }

  .links a:hover {
    color: var(--green);
    text-decoration: underline;
  }

  .links li:first-of-type a:after {
    content: '  ↗';
  }
</style>
